@font-face {
    font-family: 'PPNeueMachina-Light';
    src:  url('../fonts/PPNeueMachina-Light.otf') format('opentype');
}

@font-face {
    font-family: 'PPNeueMachina-Regular';
    src:  url('../fonts/PPNeueMachina-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'PPNeueMachina-Ultrabold';
    src:  url('../fonts/PPNeueMachina-Ultrabold.otf') format('opentype');
}

img{
margin-bottom: 20px;
}

.pink {
  color: #ED3E74;
}

.blue {
  color: #1479E8;
}

.green {
  color: #05C89F;
}

.ptext{
    width: 85%;
}

.h1,.h2,.h3,.h4,.h5,h1,h2,h3,h4,h5 {
      line-height:1.1;
      color:#000
    }

.h1,.h2,.h3,h1,h2,h3{
      margin-top:32px;
      margin-bottom:16px
    }
   
.h4,.h5,.h6,h4,h5,h6{
    margin-top:50px;
    margin-bottom:30px
  }

.h1,h1{
  font-size:50px;
  font-family:'PPNeueMachina-UltraBold';
  }

.bigtitle{
  font-family: poppins;
  font-weight: 700;
  font-size: 70px;
}

.bigtitle2{
  font-weight: 400;
  line-height: 1.35em;
}

.machinetype{
  font-size: 20px;
}

.h2,h2{
  font-size:37px;
  font-family:'PPNeueMachina-UltraBold';
}

.h3,h3{
  font-size:22px;
  font-family: poppins;
  line-height: 1.35em;
  font-weight: 400;
}
.h4,h4{
  font-size:24px;
  font-family:'PPNeueMachina-UltraBold';
}

.h5,h5{
  font-size:28px;
  font-family:'PPNeueMachina-UltraBold';
}

.h6,h6{font-size:18px;
  font-family: poppins;
  font-weight: 400;
  line-height: 1.35em;
}

p {
  font-family: poppins;
  font-size: 15px;
  letter-spacing: .5px;
}

h5{
  text-transform: uppercase;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'PPNeueMachina-Regular';

  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/ea8ea184897953.5d6d1f62931f4.jpg);  
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-name: fluid;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000;
  z-index: -999;
  /*
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/318335/gradient-wave-bg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000;*/
}

@keyframes fluid {
  from {
    background-position: top;
  }

  to {
    background-position: bottom;
  }
}


body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  z-index: -2;
}

/* MENU */

.collection {
  position: fixed;
  z-index: 999;
  top: 24px;
  right: 24px;
  display: flex;
  flex-direction: column;
  width: 5%;
}

.collection__link {
  position: relative;
  margin-bottom: 16px;
  color: Black;
  text-decoration: none;
  font-size: 18px;
}


.collection__link span {
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 1px;
  width: 10%;
  background-color: black;
  content: "";
  transition: width 0.3s;
}

.collection__link :hover {
  text-decoration: none !important;
  cursor: pointer !important;
  font-family: 'PPNeueMachina-Ultrabold' !important;
}

.collection__link:hover span {
  width: 50%;
}


/* BACK TO TOP */

svg {
  display: block;
  position: fixed;
  height: 120px;
  bottom: 10%;
  right: 2%;
  font-size: 22px;
  font-family: 'PPNeueMachina-Ultrabold';
  fill: black;
  z-index: 999;
}


svg text {
  transform-origin: 50% 50%;
  animation: rotate 10s linear infinite;
  z-index: 999;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}

.tiger {
  position: fixed;
  bottom: 12%;
  right: 5%;
  font-size: 55px;
  z-index: 1000;
} 


h4 {
  text-transform: uppercase;
  letter-spacing: .2em;
}

h5{
  letter-spacing: 1px;
}


.content {
  margin-top: 50px;
}

.content p {
    font-family: 'PPNeueMachina-Light';
    margin-left:auto;
    margin-right:auto;
    width: 80%; /* whatever width you want */
    font-size: 12px;
}


.with-project-number{
    margin-top: 51px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 5em;

}

.color{
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/ea8ea184897953.5d6d1f62931f4.jpg);  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
    animation-timing-function: linear;
  animation-name: fluid;
  background-size: 100%;
}


/*button box**/

.btn-custom{
    padding:15px 16px;
    font-family: 'PPNeueMachina-Regular';
    font-size:13px;
}

.buttons > a.active,
.buttons > a:hover{
    text-decoration: none;

}

.btn-custom{
    color:black;
    letter-spacing:.5px;
    font-weight: 650;
    text-transform:uppercase;
    text-decoration:none;
    text-align:center;
    display:inline-block;
    *display:inline;
    *zoom:1;
    line-height:1em;
    position:relative;
    z-index:5;
    background:transparent;
    border:none;
    margin-bottom: 8px;
}

.btn-custom:after{
    content: ' ';
    position:absolute;
    top:0;
    left:-10px;
    right:-10px;
    bottom:0;
    -webkit-transform:rotate(-4deg);
    -moz-transform:rotate(-4deg);
    -ms-transform:rotate(-4deg);
    -o-transform:rotate(-4deg);
    transform:rotate(-4deg);
    z-index:-1;
    opacity:0;
    visibility:hidden;
    background:rgba(0, 0, 0,.4);
    -webkit-transition:all .3s cubic-bezier(.785,.135,.15,.86);
    -moz-transition:all .3s cubic-bezier(.785,.135,.15,.86);
    transition:all .3s cubic-bezier(.785,.135,.15,.86);
}

.btn-custom:before{
    content: ' ';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:2;
    border:solid 1px black;
    border-color:rgba(0,0,0,1);
}

.btn-custom:hover:after{
    opacity:1;
    visibility:visible;
}

.btn-custom.btn-color:after{
    background:#2302fa;
}
.btn-custom.btn-color:hover:after{
    opacity:.4;
}
.btn-custom.btn-color{
    color:#202020;
}
.btn-custom.btn-color > span:before,
.btn-custom.btn-color > span:after{
    background:rgba(0,0,0,.1);
}
.btn-custom.btn-color:before{
    border-color:rgba(0,0,0,.2);
}




 

@media print{

  a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}
    a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}
    a[href^="#"]:after,a[href^="javascript:"]:after{content:""}
    blockquote,pre{border:1px solid #999;page-break-inside:avoid}
    thead{display:table-header-group}
    img,tr{page-break-inside:avoid}
    img{max-width:100%!important}
    h2,h3,p{orphans:3;widows:3}
    h2,h3{page-break-after:avoid}
    .navbar{display:none}
    .btn>.caret,.dropup>.btn>.caret{border-top-color:#000!important}
    .label{border:1px solid #000}
    .table{border-collapse:collapse!important}
    .table td,.table th{background-color:#fff!important}
    .table-bordered td,.table-bordered th{border:1px solid #ddd!important}}

    

    a:focus,a:hover {
      color: black;
      text-decoration:none;
      font-family: 'PPNeueMachina-UltraBold'}

    a{text-decoration:none}
  
    .container {
      margin-right:auto;
      margin-left:auto;
      padding-left:130px;
      padding-right:130px;
     }

    .container:after,.container:before
    {content:" ";display:table}

    .container:after
    {clear:both}
 


 @media (max-device-width:480px) and (orientation:landscape){.navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse{max-height:200px}}.container-fluid>.navbar-collapse,.container-fluid>.navbar-header,.container>.navbar-collapse,.container>.navbar-header{margin-right:-15px;margin-left:-15px}@media (min-width:768px){.container-fluid>.navbar-collapse,.container-fluid>.navbar-header,.container>.navbar-collapse,.container>.navbar-header{margin-right:0;margin-left:0}}.navbar-static-top{z-index:1000;border-width:0 0 1px}@media (min-width:768px){.navbar-static-top{border-radius:0}}.navbar-fixed-bottom,.navbar-fixed-top{position:fixed;right:0;left:0;z-index:1030}@media (min-width:768px){.navbar-fixed-bottom,.navbar-fixed-top{border-radius:0}}.navbar-fixed-top{top:0;border-width:0 0 1px}.navbar-fixed-bottom{bottom:0;margin-bottom:0;border-width:1px 0 0}.navbar-brand{float:left;padding:19px 15px;font-size:20px;line-height:32px;height:70px}.navbar-brand:focus,.navbar-brand:hover{text-decoration:none}.navbar-brand>img{display:block}@media (min-width:768px){.navbar>.container-fluid .navbar-brand,.navbar>.container .navbar-brand{margin-left:-15px}}.navbar-toggle{position:relative;float:right;margin-right:15px;padding:9px 10px;margin-top:18px;margin-bottom:18px;background-color:transparent;background-image:none;border:1px solid transparent;border-radius:0}.navbar-toggle:focus{outline:0}.navbar-toggle .icon-bar{display:block;width:22px;height:2px;border-radius:1px}.navbar-toggle .icon-bar+.icon-bar{margin-top:4px}@media (min-width:768px){.navbar-toggle{display:none}}.navbar-nav{margin:9.5px -15px}.navbar-nav>li>a{padding-top:10px;padding-bottom:10px;line-height:32px}@media (max-width:767px){.navbar-nav .open .dropdown-menu{position:static;float:none;width:auto;margin-top:0;background-color:transparent;border:0;box-shadow:none}.navbar-nav .open .dropdown-menu .dropdown-header,.navbar-nav .open .dropdown-menu>li>a{padding:5px 15px 5px 25px}.navbar-nav .open .dropdown-menu>li>a{line-height:32px}.navbar-nav .open .dropdown-menu>li>a:focus,.navbar-nav .open .dropdown-menu>li>a:hover{background-image:none}}@media (min-width:768px){.navbar-nav{float:left;margin:0}.navbar-nav>li{float:left}.navbar-nav>li>a{padding-top:19px;padding-bottom:19px}}.navbar-form{margin:12px -15px;padding:10px 15px;border-top:1px solid transparent;border-bottom:1px solid transparent;-webkit-box-shadow:inset 0 1px 0 hsla(0,0%,100%,.1),0 1px 0 hsla(0,0%,100%,.1);box-shadow:inset 0 1px 0 hsla(0,0%,100%,.1),0 1px 0 hsla(0,0%,100%,.1)}@media (min-width:768px){.navbar-form .form-group{display:inline-block;margin-bottom:0;vertical-align:middle}.navbar-form .form-control{display:inline-block;width:auto;vertical-align:middle}.navbar-form .form-control-static{display:inline-block}.navbar-form .input-group{display:inline-table;vertical-align:middle}.navbar-form .input-group .form-control,.navbar-form .input-group .input-group-addon,.navbar-form .input-group .input-group-btn{width:auto}.navbar-form .input-group>.form-control{width:100%}.navbar-form .control-label{margin-bottom:0;vertical-align:middle}.navbar-form .checkbox,.navbar-form .radio{display:inline-block;margin-top:0;margin-bottom:0;vertical-align:middle}.navbar-form .checkbox label,.navbar-form .radio label{padding-left:0}.navbar-form .checkbox input[type=checkbox],.navbar-form .radio input[type=radio]{position:relative;margin-left:0}.navbar-form .has-feedback .form-control-feedback{top:0}}@media (max-width:767px){.navbar-form .form-group{margin-bottom:5px}.navbar-form .form-group:last-child{margin-bottom:0}}@media (min-width:768px){.navbar-form{width:auto;border:0;margin-left:0;margin-right:0;padding-top:0;padding-bottom:0;-webkit-box-shadow:none;box-shadow:none}}.navbar-nav>li>.dropdown-menu{margin-top:0;border-top-right-radius:0;border-top-left-radius:0}.navbar-fixed-bottom .navbar-nav>li>.dropdown-menu{margin-bottom:0;border-top-right-radius:0;border-top-left-radius:0;border-bottom-right-radius:0;border-bottom-left-radius:0}.navbar-btn{margin-top:12px;margin-bottom:12px}.btn-group-sm>.navbar-btn.btn,.navbar-btn.btn-sm{margin-top:18.5px;margin-bottom:18.5px}.btn-group-xs>.navbar-btn.btn,.navbar-btn.btn-xs{margin-top:24px;margin-bottom:24px}.navbar-text{margin-top:19px;margin-bottom:19px}
            @media (min-width:768px){
              .navbar-text{float:left;margin-left:15px;margin-right:15px}}@media (min-width:768px){.navbar-left{float:left!important}.navbar-right{float:right!important;margin-right:-15px}
              .navbar-right~.navbar-right{margin-right:0}
            }



            .navbar-default{
              background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/ea8ea184897953.5d6d1f62931f4.jpg);  
              animation-duration: 30s;
              animation-iteration-count: infinite;
              animation-direction: alternate;
              animation-timing-function: linear;
              animation-name: fluid;
              background-position: center;
              background-attachment: fixed;
              background-size: cover;
              background-color: #000;
              border-color:#eee
            }

            @keyframes fluid {
              from {
                background-position: top;
              }

              to {
                background-position: bottom;
              }
            }

            .navbar-default:before{
              content: "";
              position: fixed;

              width: 100%;
              height: 100%;
              background: rgba(0,0,0, 0.4);
              z-index: -2;
            }



    .navbar-default {color:#eeece5}
    .navbar-default,.navbar-default:hover{
      color:#ffffff;background-color:transparent}

    .navbar-default .navbar-nav>li>a,.navbar-default 
            .navbar-text{color:#eeece5}
    
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover{color:#555;background-color:#eee}
.navbar-default .navbar-nav>.disabled>a,.navbar-default .navbar-nav>.disabled>a:focus,.navbar-default .navbar-nav>.disabled>a:hover{color:#ccc;background-color:transparent}.navbar-default .navbar-toggle{border-color:transparent}
.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover{background-color:transparent}.navbar-default .navbar-toggle .icon-bar{background-color:#888}.navbar-default .navbar-collapse,.navbar-default .navbar-form{border-color:#eee}.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover{background-color:#eee;color:#555}@media (max-width:767px){.navbar-default .navbar-nav .open .dropdown-menu>li>a{color:#eeece5}.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{color:#333;background-color:transparent}.navbar-default .navbar-nav .open .dropdown-menu>.active>a,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover{color:#555;background-color:#eee}.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover{color:#ccc;background-color:transparent}}.navbar-default .navbar-link{color:#eeece5}.navbar-default .navbar-link:hover{color:#333}.navbar-default .btn-link{color:#eeece5}.navbar-default .btn-link:focus,.navbar-default .btn-link:hover{color:#333}.navbar-default .btn-link[disabled]:focus,.navbar-default .btn-link[disabled]:hover,fieldset[disabled] .navbar-default .btn-link:focus,fieldset[disabled] .navbar-default .btn-link:hover{color:#ccc}.navbar-inverse{background-color:#222;border-color:#090909}.navbar-inverse .navbar-brand{color:#9d9d9d}.navbar-inverse .navbar-brand:focus,.navbar-inverse .navbar-brand:hover{color:#fff;background-color:transparent}.navbar-inverse .navbar-nav>li>a,.navbar-inverse .navbar-text{color:#9d9d9d}.navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>li>a:hover{color:#fff;background-color:transparent}.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:focus,.navbar-inverse .navbar-nav>.active>a:hover{color:#fff;background-color:#090909}.navbar-inverse .navbar-nav>.disabled>a,.navbar-inverse .navbar-nav>.disabled>a:focus,.navbar-inverse .navbar-nav>.disabled>a:hover{color:#444;background-color:transparent}.navbar-inverse .navbar-toggle{border-color:#333}.navbar-inverse .navbar-toggle:focus,.navbar-inverse .navbar-toggle:hover{background-color:#333}.navbar-inverse .navbar-toggle .icon-bar{background-color:#fff}.navbar-inverse .navbar-collapse,.navbar-inverse .navbar-form{border-color:#101010}.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a:focus,.navbar-inverse .navbar-nav>.open>a:hover{background-color:#090909;color:#fff}@media (max-width:767px){.navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header{border-color:#090909}.navbar-inverse .navbar-nav .open .dropdown-menu .divider{background-color:#090909}.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{color:#9d9d9d}.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover{color:#fff;background-color:transparent}.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus,.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover{color:#fff;background-color:#090909}.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:focus,.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:hover{color:#444;background-color:transparent}}.navbar-inverse .navbar-link{color:#9d9d9d}.navbar-inverse .navbar-link:hover{color:#fff}.navbar-inverse .btn-link{color:#9d9d9d}.navbar-inverse .btn-link:focus,.navbar-inverse .btn-link:hover{color:#fff}.navbar-inverse .btn-link[disabled]:focus,.navbar-inverse .btn-link[disabled]:hover,fieldset[disabled] .navbar-inverse .btn-link:focus,fieldset[disabled] .navbar-inverse .btn-link:hover{color:#444}.label{display:inline;padding:.2em .6em .3em;font-size:75%;font-weight:700;line-height:1;color:#fff;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25em}.label:empty{display:none}.btn .label{position:relative;top:-1px}a.label:focus,a.label:hover{color:#fff;text-decoration:none;cursor:pointer}.label-default{background-color:#eeece5}.label-default[href]:focus,.label-default[href]:hover{background-color:#ffffff}.label-primary{background-color:#333}.label-primary[href]:focus,.label-primary[href]:hover{background-color:#1a1a1a}.label-success{background-color:#5cb85c}.label-success[href]:focus,.label-success[href]:hover{background-color:#449d44}.label-info{background-color:#684ad7}.label-info[href]:focus,.label-info[href]:hover{background-color:#4b2bc3}.label-warning{background-color:#f0ad4e}.label-warning[href]:focus,.label-warning[href]:hover{background-color:#ec971f}.label-danger{background-color:#d9534f}.label-danger[href]:focus,.label-danger[href]:hover{background-color:#c9302c}.badge{display:inline-block;min-width:10px;padding:3px 7px;font-size:14px;font-weight:700;color:#fff;line-height:1;vertical-align:middle;white-space:nowrap;text-align:center;background-color:#eeece5;border-radius:10px}.badge:empty{display:none}.btn .badge{position:relative;top:-1px}.btn-group-xs>.btn .badge,.btn-xs .badge{top:0;padding:1px 5px}.list-group-item.active>.badge,.nav-pills>.active>a>.badge{color:#333;background-color:#fff}.list-group-item>.badge{float:right}.list-group-item>.badge+.badge{margin-right:5px}.nav-pills>li>a>.badge{margin-left:3px}a.badge:focus,a.badge:hover{color:#fff;text-decoration:none;cursor:pointer}.alert{padding:15px;margin-bottom:32px;border:1px solid transparent;border-radius:0}.alert h4{margin-top:0;color:inherit}.alert .alert-link{font-weight:700}.alert>p,.alert>ul{margin-bottom:0}.alert>p+p{margin-top:5px}.alert-dismissable,.alert-dismissible{padding-right:35px}.alert-dismissable .close,.alert-dismissible .close{position:relative;top:-2px;right:-21px;color:inherit}.alert-success{background-color:#684ad7;border-color:#684ad7;color:#fff}.alert-success hr{border-top-color:#5735d2}.alert-success .alert-link{color:rgba(255,255,255,.4)}.alert-info{background-color:#d9edf7;border-color:#bce8f1;color:#31708f}.alert-info hr{border-top-color:#a6e1ec}.alert-info .alert-link{color:#245269}.alert-warning{background-color:#fcf8e3;border-color:#faebcc;color:#8a6d3b}.alert-warning hr{border-top-color:#f7e1b5}.alert-warning .alert-link{color:#66512c}.alert-danger{background-color:#d9534f;border-color:#d9534f;color:#fff}.alert-danger hr{border-top-color:#d43f3a}.alert-danger .alert-link{color:rgba(255,255,255,.4)}.embed-responsive{position:relative;display:block;height:0;padding:0;overflow:hidden}.embed-responsive .embed-responsive-item,.embed-responsive embed,.embed-responsive iframe,.embed-responsive object,.embed-responsive video{position:absolute;top:0;left:0;bottom:0;height:100%;width:100%;border:0}.embed-responsive-16by9{padding-bottom:56.25%}.embed-responsive-4by3{padding-bottom:75%}.close{float:right;font-size:24px;font-weight:700;line-height:1;color:#000;text-shadow:0 1px 0 #fff;opacity:.2;filter:alpha(opacity=20)}.close:focus,.close:hover{color:#000;text-decoration:none;cursor:pointer;opacity:.5;filter:alpha(opacity=50)}button.close{padding:0;cursor:pointer;background:transparent;border:0;-webkit-appearance:none}.carousel,.carousel-inner{position:relative}.carousel-inner{overflow:hidden;width:100%}.carousel-inner>.item{display:none;position:relative;-webkit-transition:left .6s ease-in-out;-o-transition:.6s ease-in-out left;transition:left .6s ease-in-out}.carousel-inner>.item>a>img,.carousel-inner>.item>img{display:block;max-width:100%;height:auto;line-height:1}@media (-webkit-transform-3d),(transform-3d){.carousel-inner>.item{-webkit-transition:-webkit-transform .6s ease-in-out;-moz-transition:-moz-transform .6s ease-in-out;-o-transition:-o-transform .6s ease-in-out;transition:transform .6s ease-in-out;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;-webkit-perspective:1000px;-moz-perspective:1000px;perspective:1000px}.carousel-inner>.item.active.right,.carousel-inner>.item.next{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);left:0}.carousel-inner>.item.active.left,.carousel-inner>.item.prev{-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0);left:0}.carousel-inner>.item.active,.carousel-inner>.item.next.left,.carousel-inner>.item.prev.right{-webkit-transform:translateZ(0);transform:translateZ(0);left:0}}.carousel-inner>.active,.carousel-inner>.next,.carousel-inner>.prev{display:block}.carousel-inner>.active{left:0}.carousel-inner>.next,.carousel-inner>.prev{position:absolute;top:0;width:100%}.carousel-inner>.next{left:100%}.carousel-inner>.prev{left:-100%}.carousel-inner>.next.left,.carousel-inner>.prev.right{left:0}.carousel-inner>.active.left{left:-100%}.carousel-inner>.active.right{left:100%}.carousel-control{position:absolute;top:0;left:0;bottom:0;width:15%;opacity:.5;filter:alpha(opacity=50);font-size:20px;color:#fff;text-align:center;text-shadow:0 1px 2px rgba(0,0,0,.6);background-color:transparent}.carousel-control.left{background-image:-webkit-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,.0001));background-image:-o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);background-image:linear-gradient(90deg,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001));background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#80000000",endColorstr="#00000000",GradientType=1)}.carousel-control.right{left:auto;right:0;background-image:-webkit-linear-gradient(left,rgba(0,0,0,.0001),rgba(0,0,0,.5));background-image:-o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);background-image:linear-gradient(90deg,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5));background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000",endColorstr="#80000000",GradientType=1)}.carousel-control:focus,.carousel-control:hover{outline:0;color:#fff;text-decoration:none;opacity:.9;filter:alpha(opacity=90)}.carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right,.carousel-control .icon-next,.carousel-control .icon-prev{position:absolute;top:50%;margin-top:-10px;z-index:5;display:inline-block}.carousel-control .glyphicon-chevron-left,.carousel-control .icon-prev{left:50%;margin-left:-10px}.carousel-control .glyphicon-chevron-right,.carousel-control .icon-next{right:50%;margin-right:-10px}.carousel-control .icon-next,.carousel-control .icon-prev{width:20px;height:20px;line-height:1;font-family:serif}.carousel-control .icon-prev:before{content:"\2039"}.carousel-control .icon-next:before{content:"\203A"}.carousel-indicators{position:absolute;bottom:10px;left:50%;z-index:15;width:60%;margin-left:-30%;padding-left:0;list-style:none;text-align:center}.carousel-indicators li{display:inline-block;width:10px;height:10px;margin:1px;text-indent:-999px;border:1px solid #fff;border-radius:10px;cursor:pointer;background-color:#000\9;background-color:transparent}.carousel-indicators .active{margin:0;width:12px;height:12px;background-color:#fff}.carousel-caption{position:absolute;left:15%;right:15%;bottom:20px;z-index:10;padding-top:20px;padding-bottom:20px;color:#fff;text-align:center;text-shadow:0 1px 2px rgba(0,0,0,.6)}.carousel-caption .btn{text-shadow:none}@media screen and (min-width:768px){.carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right,.carousel-control .icon-next,.carousel-control .icon-prev{width:30px;height:30px;margin-top:-10px;font-size:30px}.carousel-control .glyphicon-chevron-left,.carousel-control .icon-prev{margin-left:-10px}.carousel-control .glyphicon-chevron-right,.carousel-control .icon-next{margin-right:-10px}.carousel-caption{left:20%;right:20%;padding-bottom:30px}.carousel-indicators{bottom:20px}}.clearfix:after,.clearfix:before{content:" ";display:table}.clearfix:after{clear:both}.center-block{display:block;margin-left:auto;margin-right:auto}.pull-right{float:right!important}.pull-left{float:left!important}.hide{display:none!important}.show{display:block!important}.invisible{visibility:hidden}.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}.hidden{display:none!important}.affix{position:fixed}@-ms-viewport{width:device-width}.visible-lg,.visible-lg-block,.visible-lg-inline,.visible-lg-inline-block,.visible-md,.visible-md-block,.visible-md-inline,.visible-md-inline-block,.visible-sm,.visible-sm-block,.visible-sm-inline,.visible-sm-inline-block,.visible-xs,.visible-xs-block,.visible-xs-inline,.visible-xs-inline-block{display:none!important}@media (max-width:767px){.visible-xs{display:block!important}table.visible-xs{display:table!important}tr.visible-xs{display:table-row!important}td.visible-xs,th.visible-xs{display:table-cell!important}}@media (max-width:767px){.visible-xs-block{display:block!important}}@media (max-width:767px){.visible-xs-inline{display:inline!important}}@media (max-width:767px){.visible-xs-inline-block{display:inline-block!important}}@media (min-width:768px) and (max-width:991px){.visible-sm{display:block!important}table.visible-sm{display:table!important}tr.visible-sm{display:table-row!important}td.visible-sm,th.visible-sm{display:table-cell!important}}@media (min-width:768px) and (max-width:991px){.visible-sm-block{display:block!important}}@media (min-width:768px) and (max-width:991px){.visible-sm-inline{display:inline!important}}@media (min-width:768px) and (max-width:991px){.visible-sm-inline-block{display:inline-block!important}}@media (min-width:992px) and (max-width:1199px){.visible-md{display:block!important}table.visible-md{display:table!important}tr.visible-md{display:table-row!important}td.visible-md,th.visible-md{display:table-cell!important}}@media (min-width:992px) and (max-width:1199px){.visible-md-block{display:block!important}}@media (min-width:992px) and (max-width:1199px){.visible-md-inline{display:inline!important}}@media (min-width:992px) and (max-width:1199px){.visible-md-inline-block{display:inline-block!important}}@media (min-width:1200px){.visible-lg{display:block!important}table.visible-lg{display:table!important}tr.visible-lg{display:table-row!important}td.visible-lg,th.visible-lg{display:table-cell!important}}@media (min-width:1200px){.visible-lg-block{display:block!important}}@media (min-width:1200px){.visible-lg-inline{display:inline!important}}@media (min-width:1200px){.visible-lg-inline-block{display:inline-block!important}}@media (max-width:767px){.hidden-xs{display:none!important}}@media (min-width:768px) and (max-width:991px){.hidden-sm{display:none!important}}@media (min-width:992px) and (max-width:1199px){.hidden-md{display:none!important}}@media (min-width:1200px){.hidden-lg{display:none!important}}.visible-print{display:none!important}@media print{.visible-print{display:block!important}table.visible-print{display:table!important}tr.visible-print{display:table-row!important}td.visible-print,th.visible-print{display:table-cell!important}}.visible-print-block{display:none!important}@media print{.visible-print-block{display:block!important}}.visible-print-inline{display:none!important}@media print{.visible-print-inline{display:inline!important}}.visible-print-inline-block{display:none!important}@media print{.visible-print-inline-block{display:inline-block!important}}@media print{.hidden-print{display:none!important}}.navbar{margin-bottom:0}.navbar-toggle{display:block;position:absolute;right:0}@media (min-width:992px){.navbar-toggle{right:50px}}.navbar-fixed-top{z-index:1040;border-bottom:none}.navbar-text{display:inline-block;float:none}.navbar-fixed-bottom .navbar-nav{float:left}.navbar-fixed-bottom .navbar-right{float:right;margin-right:15px}@media (min-width:768px){.navbar-fixed-bottom .navbar-right{margin-right:0}}.navbar-fullscreen{background:#1a1a1a;position:fixed;top:-100%;height:100%;left:0;right:0;display:flex;align-items:center;transition:all 1s cubic-bezier(.55,.085,0,.99);-webkit-transition-timing-function:cubic-bezier(.55,.085,0,.99);-moz-transition-timing-function:cubic-bezier(.55,.085,0,.99);-o-transition-timing-function:cubic-bezier(.55,.085,0,.99);transition-timing-function:cubic-bezier(.55,.085,0,.99)}.navbar-fullscreen .footer-container{text-align:center;padding:10px 0;position:absolute;left:0;right:0;bottom:0;color:#555}.navbar-fullscreen .footer-container a{color:#555}.navbar-fullscreen .footer-container a:hover{color:#fff}.navbar-fullscreen .footer-container .fa-icon{border-color:#555}.navbar-fullscreen .footer-container .fa-icon:hover{background-color:#555}.navbar-fullscreen .footer-container .email-container{padding:30px 0}.navbar-fullscreen .footer-container .footer-icon{margin-bottom:7px}.navbar-fullscreen .close{color:#fff;text-shadow:none;opacity:1;position:absolute;top:25px;right:25px;font-size:30px;font-weight:400}@media (min-width:992px){.navbar-fullscreen .close{right:75px}}.navbar-fullscreen.active{top:0}.navbar-fullscreen .navbar-fullscreen-links{padding:0;margin:0;text-align:center;font-size:30px;width:100%;list-style:none}.navbar-fullscreen .navbar-fullscreen-links li{padding:5px 0 6px}.navbar-fullscreen .navbar-fullscreen-links a{color:#555}.navbar-fullscreen .navbar-fullscreen-links a.active,.navbar-fullscreen .navbar-fullscreen-links a:focus,.navbar-fullscreen .navbar-fullscreen-links a:hover{color:#fff;text-decoration:none;-webkit-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear}.navbar-default .navbar-text{color:#fff;line-height:1;position:relative}.navbar-default .navbar-text .arrow-down{position:absolute;text-align:center;width:100%;left:0;bottom:-25px;animation:MoveUpDown 1.5s linear infinite}.navbar-default .navbar-text.bottom .arrow-down{display:none}@keyframes MoveUpDown{0%{bottom:-25px}50%{bottom:-15px}to{bottom:-25px}}.white-text-container h1,.white-text-container h2,.white-text-container h3,.white-text-container h4,.white-text-container h5,.white-text-container p{color:#fff}.section-container{padding:80px 0}

    
    @media (min-width:992px){
      .hero-full-container{border:70px solid #fff}}

    .hero-full-container .hero-full-wrapper .text-content{padding-top:30%}@media (min-width:992px){.hero-full-container .hero-full-wrapper .text-content{padding-top:10%}}
    .overlay-gradient{position:absolute;top:0;left:0;right:0;bottom:0;background-image:-webkit-linear-gradient(top,rgba(0,0,0,.3),transparent);background-image:-o-linear-gradient(top,rgba(0,0,0,.3) 0,transparent 100%);background-image:linear-gradient(180deg,rgba(0,0,0,.3) 0,transparent);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#4D000000",endColorstr="#00000000",GradientType=0)}blockquote{font-weight:700;border-left:none}blockquote small{font-weight:300}blockquote.large-spacing{padding:60px 0}.fa-icon{color:#000;width:32px;height:32px;line-height:29px;font-size:15px;text-align:center;display:inline-block;border-radius:60px;border:1px solid #000}.fa-icon:hover{background-color:#000;color:#fff}.fa-icon .fa{border:none}.footer-share-icons .fa-icon{margin-right:8px}.footer-share-icons .fa-icon:last-of-type{margin-right:0}
    

    .project-number{
      color:rgba(255,255,255,.4);
      font-size:2em;
      position:absolute;
      width:100%;
      text-align:center;
      top: 18px;
      z-index:-1;
      font-weight:300}
     
      .h2.with-project-number,h2.with-project-number{
        position:relative;
        z-index:1}

    .h2.with-project-number 
    .project-number,
    h2.with-project-number 
    .project-number{
      top:-3rem
    }

    .project-nav{
      position:relative;
      z-index:1}

    .project-nav,.project-nav .project-number{
      -webkit-transition:all .2s linear;
      -o-transition:all .2s linear;
      transition:all .2s linear}


    .project-nav .project-number{
      font-size:3em
    }

    .project-nav:hover .project-number{
      color:#ccc
    }

    @media (min-width:768px){
      .project-nav.left .project-number{
        margin-left:-12rem}
    }



