@font-face {
    font-family: 'PPNeueMachina-Light';
    src:  url('../fonts/PPNeueMachina-Light.otf') format('opentype');
}

@font-face {
    font-family: 'PPNeueMachina-Regular';
    src:  url('../fonts/PPNeueMachina-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'PPNeueMachina-Ultrabold';
    src:  url('../fonts/PPNeueMachina-Ultrabold.otf') format('opentype');
}


html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'PPNeueMachina-Regular';

  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/ea8ea184897953.5d6d1f62931f4.jpg);  
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-name: fluid;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000;
  z-index: -999;
  /*
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/318335/gradient-wave-bg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000;*/
}

@keyframes fluid {
  from {
    background-position: top;
  }

  to {
    background-position: bottom;
  }
}



body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  z-index: -2;
}


.container {
  margin-right:auto;
  margin-left:auto;
  adding-left:130px;
  padding-right:130px;
}

.container:after,
.container:before {
  content:" ";
  display:table
}

.container:after {
  clear:both
}



h1,h2,h3,h4,h5,h6{
  font-family: poppins;
  }

h2 {
  font-size: 35px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}



p {
  font-family: poppins;
  font-size: 14px;
  letter-spacing: 0px;
}


a:focus,
a:hover {
  color: black;
  text-decoration:none;
  font-family: 'PPNeueMachina-UltraBold';
}

a{
  text-decoration:none;
}



/* MENU */

.collection {
  position: fixed;
  top: 5%;
  right: 3%;
  width: 5%;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.collection__link {
  position: relative;
  margin-bottom: 16px;
  color: rgba(0,0,0,1);
  text-decoration: none;
  font-size: 18px;
}

.collection__link span {
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 1px;
  width: 20%;
  background-color: rgba(0,0,0,1);
  content: "";
  transition: width 0.3s;
}

.collection__link:hover {
  text-decoration: none;
  cursor: pointer;
  font-family: 'PPNeueMachina-Ultrabold';
}

.collection__link:hover span {
  width: 40%;
}



/* BACK TO TOP */

.back-to-top{
  position: fixed;
  display: flex;
  right: 8.5em;
  bottom: 13em;
  transform: scale(0.85);
  z-index: 999;
}

svg {
  display: block;
  position: absolute;
  height: 120px;
  font-size: 22px;
  font-family: 'PPNeueMachina-Ultrabold';
  fill: black;
  z-index: 998;
}


svg text {
  transform-origin: 50% 50%;
  animation: rotate 10s linear infinite;
  z-index: 998;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}

.tiger {
  position: absolute;
  font-size: 55px;
  z-index: 999;
  text-decoration: none;
  left: 31.5px;
  top: 25px;
}



.content {
  margin-top: 50px;
}

.content p {
    font-family: 'PPNeueMachina-Light';
    margin-left:auto;
    margin-right:auto;
    width: 80%; 
    font-size: 12px;
}

.text-center{
  text-align:center;
}


/* PROJECTS */

.work-container {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 12%;
}

.project-title {
  text-transform:uppercase;
  font-family: 'PPNeueMachina-Ultrabold';
  padding-top: 50px;
  padding-bottom: 40px;
  font-size: 70px;
}

.bottomline {
  margin-bottom: 20vh;
}

.color {
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/ea8ea184897953.5d6d1f62931f4.jpg);  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
    animation-timing-function: linear;
  animation-name: fluid;
  background-size: 100%;
}

.overview {
  margin-right: 6vw;
  padding-right: 20px;
  margin-left: 0;
}

.overview h2{
  font-family: poppins;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.overview h5 {
  font-family: poppins;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  letter-spacing: 0.4px;
  margin: 20px 0px;
  color: rgba(0,0,0,.4);
}

.overview p{
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 21px;
}

.role h2{
  font-family: poppins;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.role h5{
  font-family: poppins;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  letter-spacing: 0px;
  margin: 20px 0px;
  line-height: 25px;
}

.subtitle {
  margin-top: 5vh;
  margin-bottom: 100px;
}

.subtitle h2{
  font-family: poppins;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-top: 10vh;
  text-transform: uppercase;
}

.text-content {
  padding: 5px 100px;
  margin-top: 15px;
  text-align: left;
}

.text-content-2 {
  font-weight: 400;
  padding: 5px 100px;
  margin-top: 15px;
  text-align: center;
}




/* button1 */

button {
  margin: 15px 0px;
}

.emoji {
  font-size: 70px;
  line-height: 90px;
}

.project-btn-1,
.project-btn-2 {
  position: relative;
  display: block;
  right: 20px;
  bottom: 20px;
  border:none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;

  color: #fff;
  border-radius: 5px;
  padding: 0px 23px;
  font-family: poppins;
  font-weight: 500;
  letter-spacing: 0px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  transform: scale(1.1);
}

.project-btn-1 span {
  background: rgb(0,61,255);
background: linear-gradient(130deg, rgba(0,61,255,1) 0%, rgba(195,25,255,1) 56%, rgba(255,0,99,1) 100%);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.project-btn-1 span:nth-child(1) {
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.project-btn-1 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.project-btn-1:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.project-btn-1:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
 color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}


/* button2 */

.project-btn-2 span {
  background: rgb(236,0,255);
background: linear-gradient(139deg, rgba(236,0,255,1) 0%, rgba(255,137,0,1) 100%);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.project-btn-2 span:nth-child(1) {
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.project-btn-2 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.project-btn-2:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.project-btn-2:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
 color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}




/* line */

hr {
  display: block;
  border-top: .5px solid #ccc;
  margin-top: 1vh;
  margin-left: auto;
  margin-right: auto;
}


.project-subtitle-1 {
  font-weight: 400;
  line-height: 1.5em;
  margin-bottom: 10vh;
}

.project-subtitle-2 {
  font-weight: 400;
  line-height: 1.5em;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

.project-subtitle-3 {
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 6vh;
}


/* MINIS */

.project-bigtitle{
  font-weight: 500;
}

.project-text-1 {
  font-family: poppins;
  font-weight: 700;
  font-size: 70px;
  text-transform: uppercase;
  margin-top: 6vh;
}

.project-text-2 {
  font-weight: 400;
  line-height: 1.5em;
  margin-bottom: 10vh;
}

.machinetype {
  font-size: 20px;
}

.img-1{
  width: 70vw;
}

.img-2{
  width: 60vw;
}

.img-3{
  width: 85%;
}

.img-4 {
  height: 450px;
}



video{
  margin-top: 10px;
margin-bottom: 20px;
}


img {
margin-top: 10px;
margin-bottom: 15px;
}

.pink {
  color: #ED3E74;
}

.blue {
  color: #1479E8;
}

.green {
  color: #05C89F;
}

.ptext{
    width: 85%;
}





.footer-container {
  position: fixed;
  width: 100vw;
  height: 9vh;
  bottom: 0;
  left: 0;
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/ea8ea184897953.5d6d1f62931f4.jpg);  
  background-size: cover;
  background-color: #000;
  background-position: center;
  background-attachment: fixed;
  border-top-color: #eee;
  border-style: solid;

  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-name: fluid;
}

.footer-container:before {
  position: fixed;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.4);
  z-index: -99;
}

@keyframes fluid {
  from {
    background-position: top;
  }

  to {
    background-position: bottom;
  }
}

.footer-title{
  position: absolute;
  margin: 0;
  top: 51%;
  left: 50%;
  color: white;
  font-family: 'PPNeueMachina-UltraBold';;
  font-size: 26px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.footer-container a {
  color: rgba(255,255,255,.4);
  font-size: 47px;
  text-transform: uppercase;
}

.footer-previous {
  position: absolute;
  left: 35px;
  margin-top: 2vh;
  
}

.footer-next {
  position: absolute;
  right: 35px;
  margin-top: 2vh;
}


.footer-next>a:hover,
.footer-previous>a:hover {
  color: rgba(255,255,255,.8);

 -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear;
}






/* RESPONSIVE */

@media (max-width:767px){

  /* Menu */
  .collection__link {
    font-size: 14px;
  }

  .collection {
    top: 4%;
    right: 6%;
  }

  /* Work */

  .work-container {
    padding: 0px 15%;
  }

  .project-title {
    font-size: 60px;
  }

  .overview h2, .role h2{
    font-size: 23px;
    letter-spacing: 1px;
  }

  .overview h5{
    font-size: 14px;
  }

  .overview p {
    font-size: 13px;
    line-height: 20px;
    padding-bottom: 20px;
  }

  .emoji {
    font-size: 55px;
    line-height: 70px;
  }

  .subtitle h2 {
    font-size: 35px;
    letter-spacing: 0.2px;
  }


  /* Back to Top */

  .back-to-top{
    right: 6.5em;
    bottom: 11em;
    transform: scale(0.6);
  }


  /* Footer */
  .footer-title{
    font-size: 20px;
  }

  .footer-container a {
    font-size: 35px;
    letter-spacing: -2px;
  }

  .footer-previous {
    left: 15px;
    margin-top: 2.5vh;
    
  }

  .footer-next {
    right: 15px;
    margin-top: 2.5vh;
  }
}


@media (min-width:768px) 
and (orientation: portrait){

  /* Menu */

 .collection {
  right: 6%;
  Top: 3%;
 }

 /* Work */

  .work-container {
    padding: 0px 10%;
  }

  .project-title {
    font-size: 60px;
  }

  /* Back to Top */

  .back-to-top{
    right: 7em;
    bottom: 13em;
    transform: scale(0.65);
  }


  /* Footer */
  .footer-container {
    height: 7vh;
  }
  .footer-title{
    font-size: 24px;
  }

  .footer-container a {
    font-size: 40px;
  }

  .footer-previous {
    left: 15px;
    margin-top: 2vh;
    
  }

  .footer-next {
    right: 15px;
    margin-top: 2vh;
  }
}






@media (max-device-width:415px) {

  /* Menu */
  .collection__link {
    font-size: 13.5px;
  }

  .collection {
    top: 3%;
    right: 9%;
  }


  /* Work */

  .work-container {
    padding: 0px 15%;
  }

  .project-title {
    font-size: 40px;
  }

  .overview h2, .role h2{
    font-size: 20px;
    letter-spacing: 1px;
  }

  .overview h5{
    font-size: 14px;
    letter-spacing: .3px;
    line-height: 20px;
  }

  .role h5 {
    font-size: 14px;
    line-height: 20px;
  }

  .overview p {
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 20px;
  }

  .project-btn-1,
  .project-btn-2 {
    transform: scale(1);
    margin-left: -4px;
  }

  .subtitle h2 {
    font-size: 26px;
    letter-spacing: 0.2px;
    font-weight: 600;
  }

  .project-subtitle-2 {
    font-size: 16px;
    line-height: 1.2em;
    margin-bottom: 1vh;
  }

  .text-content {
    font-size: 10px;
    padding: 5px 20px;
    margin-top: 15px;
    text-align: left;
  }

  .img-1{
  width: 60vw;
  }

  video {
    width: 80%;
  }

  /* Back to Top */

  .back-to-top{
    right: 4em;
    bottom: 9em;
    transform: scale(0.4);
  }


  /* Footer */
  .footer-container {
    height: 6vh;
  }
  .footer-title{
    font-size: 20px;
    top: 55%;
  }

  .footer-container a {
    font-size: 25px;
  }

  .footer-previous {
    left: 10px;
    margin-top: 1.6vh;
    
  }

  .footer-next {
    right: 10px;
    margin-top: 1.6vh;
  }


  /* MINIS */

  .project-text-1 {
    font-size: 45px;
    margin-top: 5vh;
  }

  .project-text-2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: 6vh;
  }

  .project-bigtitle{
    font-size: 18px;
    font-weight: 500;
  }


}


@media (min-width:992px)
  and (orientation: portrait) {
  .project-title {
  font-size: 80px;
 }
}

